
<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="SideBarTemplate" lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content1">






</div>


</body>
</html>
<div class="dashboard-section">

    <h2>Statistiques clés</h2>
    <div class="charts">
            <h3>Graphique à secteurs</h3>
            <h3>Graphique à barres</h3>
            <h3>Graphique à barres</h3>
            <canvas id="pieChart" width="400" height="400"></canvas>
        </div>

    </div>
    <div class="tables">
        <!-- Insérez ici les tableaux récapitulatifs des utilisateurs, des tâches et des inscriptions -->
    </div>
</div>
