<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="css/infoStyle.css">
</head>
<body>
<div class="container">
    <h1>Bienvenue sur notre application de gestion d'entreprise</h1>
    <p>Cette application vous permet de gérer efficacement divers aspects de votre entreprise.</p>
    <div class="quick-links">
        <h2>Fonctionnalités principales :</h2>
        <ul>
            <li><a href="gestion_employes.html">Gestion des employés</a></li>
            <li><a href="gestion_conges.html">Gestion des congés</a></li>
            <li><a href="gestion_taches.html">Gestion des tâches</a></li>
            <!-- Ajoutez d'autres liens vers vos fonctionnalités principales ici -->
        </ul>
    </div>
</div>
</body>
</html>
